*.pyc
*.pth
FoundationPose/bundlesdf/mycuda/
FoundationPose/mycpp/build/
FoundationPose/weights/
Qwen2-VL/weights/
pose/
pose_visualization/
mask_visualization/
masks_visualization/
debug/
visualize/
masks/
.vscode/
bbox_visualization/
pose_visualization/
output_pose.npy
Selected_test_case.zip
testcase/
